body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: white;
    
}
#category
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    z-index: 100;
  
    
}
h2
{
color: black;
}

.container
{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    height: 400vh;
    width: 600vh;
    background-image: linear-gradient(to right,black,darkgrey,black);
    border-radius: 30px;
    margin-top:15vh;
    z-index: 100;
    
 
   
}

#joke
{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  z-index: 100;
}
p
{
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
}
@keyframes glowing {
    0% {
      background-color: #4BABB4;
      box-shadow: 0 0 3px blue;
      color: red;
    }
    50% {
      background-color: #4B77B4;
      box-shadow: 0 0 10px green;
      
    }
    100% {
      background-color: #4BB488;
      box-shadow: 0 0 3px red;
      color: blue;
    }
  }
button
{
    color: white;
    height: 40px;
    width: 80px;
    background-color: black;
    font-weight: bold;
    animation: glowing 1300ms infinite;
    border-radius: 20px;

}
button:hover
{
    height:50px ;
    width:90px ;
}
